[submodule "lib-projs/FNA"]
	path = lib-projs/FNA
	url = https://github.com/FNA-XNA/FNA.git
[submodule "lib-projs/MonoGame.Net"]
	path = lib-projs/MonoGame.Net
	url = https://github.com/0x0ade/MonoGame.Net.git
[submodule "lib-projs/MonoMod"]
	path = lib-projs/MonoMod
	url = https://github.com/0x0ade/MonoMod.git
