[submodule "lib-projs/MonoMod"]
	path = lib-projs/MonoMod
	url = https://github.com/0x0ade/MonoMod.git
[submodule "lib-projs/cecil"]
	path = lib-projs/cecil
	url = https://github.com/jbevain/cecil.git
[submodule "lib-projs/FNA"]
	path = lib-projs/FNA
	url = https://github.com/0x0ade/FNA.git
[submodule "lib-projs/MonoGame.Net"]
	path = lib-projs/MonoGame.Net
	url = https://github.com/0x0ade/MonoGame.Net.git
